<div class="navbar-area">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" routerLink="/">
        <h3><b>ITHUB</b></h3>
      </a>

      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/" class="nav-link">Home</a>
          </li>

          <li
            class="nav-item"
            data-bs-toggle="collapse"
            data-target=".navbar-collapse.show"
          >
            <a
              routerLink="/about"
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >About</a
            >
          </li>

          <li class="nav-item">
            <a routerLink="/services" class="nav-link">Services </a>
          </li>

          <li class="nav-item">
            <a routerLink="/projects" class="nav-link">Projects </a>
          </li>

          <li class="nav-item">
            <a routerLink="/" class="nav-link"
              >Pages <i class="bx bx-chevron-down"></i
            ></a>
            <ul class="dropdown-menu">
              <li
                class="nav-item"
                data-bs-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                <a
                  routerLink="/team"
                  class="nav-link"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Team</a
                >
              </li>

              <li
                class="nav-item"
                data-bs-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                <a
                  routerLink="/pricing"
                  class="nav-link"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Pricing</a
                >
              </li>

              <li
                class="nav-item"
                data-bs-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                <a
                  routerLink="/faq"
                  class="nav-link"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >FAQ</a
                >
              </li>

              <li
                class="nav-item"
                data-bs-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                <a
                  routerLink="/terms-conditions"
                  class="nav-link"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Terms & Conditions</a
                >
              </li>

              <li
                class="nav-item"
                data-bs-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                <a
                  routerLink="/privacy-policy"
                  class="nav-link"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Privacy Policy</a
                >
              </li>
            </ul>
          </li>

          <li
            class="nav-item"
            data-bs-toggle="collapse"
            data-target=".navbar-collapse.show"
          >
            <a
              routerLink="/contact"
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Contact</a
            >
          </li>
        </ul>
        <div class="others-options">
          <div class="option-item">
            <i class="search-btn flaticon-search"></i>
            <i class="close-btn flaticon-cancel"></i>
            <div class="search-overlay search-popup">
              <div class="search-box">
                <form class="search-form">
                  <input
                    class="search-input"
                    name="search"
                    placeholder="Search"
                    type="text"
                  />
                  <button class="search-button" type="submit">
                    <i class="flaticon-search"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="burger-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
